# Test Results Report

Starting the run with 32 tests

**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/umbraco/SchumacherMortgage.com
**Status:** passed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/bay-st-louis-gulfport?location=52
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/asheville?location=18
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/ashland?location=7
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/belmont?location=24
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/bowling-green?location=6
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/charleston?location=13
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/charlotte?location=10
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/columbus-north?location=4
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/cincinnati?location=5
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/columbia?location=15
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/cleveland-akron?location=1
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/columbus-south?location=8
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/dayton?location=48
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/greensboro-winston?location=11
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/hilton-head-savannah?location=46
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/franklin?location=45
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/greenville-spartanburg?location=14
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/hilton-head-savannah/
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/indianapolis?location=47
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/knoxville?location=49
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/new-orleans-baton-rouge?location=20
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/louisville?location=44
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/port-arthur?location=51
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/lafayette?location=21
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/pittsburgh?location=16
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/raleigh-durham?location=9
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/southeast-michigan?location=50
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/ravenna?location=3
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/what-to-expect/
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/state-college?location=53
**Status:** failed

---
**Finished test:** Get status code 200 from new page https://staging.schumacherhomes.com/where-we-build/wilmington?location=12
**Status:** failed

---

## Finished the run: failed
