# Test Results Report

Starting the run with 2 tests


## Starting test: Complete purchase flow

## Starting test: Complete purchase flow
**Finished test:** Complete purchase flow
**Status:** passed

### Test Steps:
- 📜 **Step:** [View trace](Before Hooks)
- 📜 **Step:** [View trace](Navigate to home page)
- 📜 **Step:** [View trace](Navigate to Products listing view)
- 📜 **Step:** [View trace](Select third product in the products listing)
- 📜 **Step:** [View trace](Enter quantity items)
- 📜 **Step:** [View trace](Click on add item to cart,validate confirmation modal and proceed to cart page)
- 📜 **Step:** [View trace](Proceed to checkout, handle login modal and proceed to login page)
- 📜 **Step:** [View trace](Fill in user details for new user on login page and proceed to signup)
- 📜 **Step:** [View trace](Register new user on signup page and proceed to home page)
- 📜 **Step:** [View trace](Go to cart page and click on Proceed to checkout and land on payment page )
- 📜 **Step:** [View trace](Fill up payment details on payment page and proceed to payment complete page)
- 📜 **Step:** [View trace](Logout and got to Login page)
- 📜 **Step:** [View trace](After Hooks)

---
**Finished test:** Complete purchase flow
**Status:** passed

### Test Steps:
- 📜 **Step:** [View trace](Before Hooks)
- 📜 **Step:** [View trace](Navigate to home page)
- 📜 **Step:** [View trace](Navigate to Products listing view)
- 📜 **Step:** [View trace](Select third product in the products listing)
- 📜 **Step:** [View trace](Enter quantity items)
- 📜 **Step:** [View trace](Click on add item to cart,validate confirmation modal and proceed to cart page)
- 📜 **Step:** [View trace](Proceed to checkout, handle login modal and proceed to login page)
- 📜 **Step:** [View trace](Fill in user details for new user on login page and proceed to signup)
- 📜 **Step:** [View trace](Register new user on signup page and proceed to home page)
- 📜 **Step:** [View trace](Go to cart page and click on Proceed to checkout and land on payment page )
- 📜 **Step:** [View trace](Fill up payment details on payment page and proceed to payment complete page)
- 📜 **Step:** [View trace](Logout and got to Login page)
- 📜 **Step:** [View trace](After Hooks)

---

## Finished the run: passed
